.intro-play-btn{
    width: 100px;
    height: 100px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 50px;
    background-color: transparent;
    background-image: url(../media/images/icons/triangle.svg);
    background-repeat: no-repeat;
    background-position: bottom 5px center;
    background-size: 75px 75px;
    transform: rotate(90deg);
    transition: .3s linear box-shadow;
  
    &:hover{
      box-shadow: 0px 0px 8px 4px var(--primary-color)
    }
}


.scroll-down-btn{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    background: url(../media/images/icons/chevron.png) no-repeat center center;
    background-size: 30px 15px;
    transform: rotate(180deg);
    cursor: pointer;
    animation: float 2s infinite ease-in-out; 
}

.primary-btn{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    font-family: var(--font-primary);
    transition: .3s linear background-color, .3s linear box-shadow;
    background-color: var(--primary-color);
    transition: .3s linear box-shadow;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    box-shadow: 0px 0px 4px 2px transparent;

    
    &:hover{
        box-shadow: 0px 0px 4px 2px var(--primary-color);
    }

    &.with-l-ico{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 25px;
        padding: 0 20px 0 60px;
        white-space: nowrap;
        backdrop-filter: blur(10px);

        &:hover{
            .btn-ico-left{
                box-shadow: 0px 0px 4px 2px var(--primary-color);
            }
        }

        .btn-ico-left{
            position: absolute;
            left: -1px; top: -1px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 49px;
            height: 49px;
            border: 2px solid var(--primary-color);
            background-color: var(--primary-color);
            box-shadow: 0px 0px 4px 2px transparent;
            transition: .3s linear box-shadow;
            border-radius: 50%;
            z-index: 10;

            svg{
                width: 30px;
                height: 30px;
                transform: rotate(90deg);
                margin-right: 2px;
            }
        }
        &.spotify-link{
            margin-top: 40px;
            border: 2px solid #52c887;
            font-size: 14px;

            &:hover{
                box-shadow: 0px 0px 4px 2px #52c887;

                .btn-ico-left{
                    box-shadow: 0px 0px 4px 2px #52c887;
                }
            }

            .btn-ico-left{
                background-color: #52c887;
                border-color: #52c887;

                svg{
                    transform: rotate(0deg);
                    margin: 0;
                }
            }
        }
    }

    &#intro-play{
        margin-top: 30px;

        @include respond-to(tablet){
            height: 60px;
            border-radius: 30px;
            padding: 0 20px 0 70px;
            margin-top: 50px;

            .btn-ico-left{
                width: 60px;
                height: 60px;
                top: -2px;
            }
        }
    }
}

.back-home{
  width: 45px;
  height: 45px;
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 6px;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
  color: #000;
  transition: .3s linear background-color, .3s linear color, .3s linear box-shadow;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url(../media/images/icons/chevron.png);
  background-size: 15px 10px;
  background-position: center top 14px;
  -webkit-text-size-adjust: 0%;
  font-size-adjust: 0%;
  border: 2px solid var(--font-color);
  backdrop-filter: blur(5px);
  transform: rotate(270deg);

  @include respond-to(tablet){
    width: 55px;
    height: 55px;
    font-size: 35px;
    padding-bottom: 8px;
    right: 60px;
    bottom: 65px;
    background-position: center top 19px;
    
    &:hover{
      box-shadow: 0px 0px 4px 2px var(--primary-color);
      color: #fff;
    }
  }
}
