.parallax-section{
    height: 350px;
    position: relative;
    margin: 100px 0 50px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    @include respond-to(tablet){
        margin: 150px 0 100px 0;
    }

    &::before{
        content: '';
        width: 100%;
        height: inherit;
        position: absolute;
        left: 0; top: 0;
        z-index: 5;
        background: linear-gradient(180deg, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 95%) 100%);
    }

}

.bottom-parallax{
    background-image: url(../media/images/photos/parallax-bg.jpg);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content-header{
        font-size: 20px;
        margin-bottom: 25px;

        @include respond-to(tablet){
            font-size: 25px;
        }

        @include respond-to(desktop){
            font-size: 30px;
        }
    }
}

