.section {
  width: 100%;
  height: auto;
  margin-top: 40px;

  &-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 var(--section-mobile-padding);
    height: inherit;
    @include respond-to(desktop){
      padding: 0 var(--section-desktop-padding);
    }
  }

  &-header {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1;
    font-size: 1.5em;
    font-weight: bold;
    @include respond-to(tablet){
      font-size: 2em;
    }
    @include respond-to(desktop){
      font-size: var(--section-header-size);
    }
  }
}

.theme-color{
  color: var(--primary-color);
}


.text-underline{
  text-decoration: underline;
}
