@keyframes float {
    0% {
        transform: translateY(0) rotate(180deg);
    }
    50% {
        transform: translateY(-10px) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(180deg);
    }
}